<div [class.task]="true">
  <h1>Task 1 - 3</h1>
  <h3>My hobby</h3>
  <p>Hobby Name : {{ CountCats }}</p>
  <p>Description : {{ Description }}</p>
  <img [class.catPhoto]="true" [src]="catPhoto" />
</div>
<div [class.task]="true">
  <h1>Task 4 - 8</h1>
  <h3>Кesume</h3>
  <div class="MyResume">
    <div>
      <app-myself></app-myself>
      <app-experience></app-experience>
    </div>
    <img [class.Myphoto]="true" [src]="catPhoto" />
  </div>
  <app-skills></app-skills>
  <a [class.link]="true" [href]="GitHum">My GitHum</a>
</div>
